---
layout: default
title: Museu
---
<h1 id="museu" class="container">Museu</h1>

<section class="container">
  <h2>O que já rolou?</h2>
  <p>Não conhecia o devinsampa? Ou simplesmente não pode participar das outras edições do evento? Confira a baixo o que já rolou em outras edições, inclusive você pode baixar as apresentações e na maioria das palestras contamos também com o vídeo de apresentação.<p>
</section>

{% include museu/2013.html %}
{% include museu/2012.html %}
{% include museu/2011.html %}
{% include museu/2010.html %}
{% include museu/2009.html %}
