<section id="agenda" class="container">
	<h2>Programação</h2>
	<table>
		<thead>
			<tr>
				<th>Horário</th>
				<th>O que rola?</th>
			</tr>
		</thead>
		<tbody>
			<tr class="extra">
				<td>9:00 às 09:50</td>
				<td>Credenciamento e Café da manhã</td>
			</tr>
			<tr class="extra">
				<td>9:50 às 10:00</td>
				<td>Boas vindas</td>
			</tr>
			<tr>
				<td>10:00 às 10:50</td>
				<td><a href="/2013/#public_key_infrastructure">Public Key Infrastructure (PKI) com OpenSSL: Entenda como funciona o processo de certificação digital, seus possíveis usos utilizando OpenSSL - Tonny Fabeen</a></td>
			</tr>
			<tr>
				<td>10:50 às 11:40</td>
				<td><a href="/2013/#tecnicas_de_processamento_paralelo_em_instrucoes_sql">Técnicas de processamento paralelo em instruções SQL - Maurício Pichiliani</a></td>
			</tr>
			<tr>
				<td>11:40 às 12:30</td>
				<td><a href="/2013/#programacao_para_nintendo_8_bits">Programação para Nintendo 8 bits - Guto Maia e Klaus Silveira</a></td>
			</tr>
			<tr class="extra">
				<td>12:30 às 14:00</td>
				<td>Intervalo para Almoço</td>
			</tr>
			<tr>
				<td>14:00 às 14:50</td>
				<td><a href="/2013/#a_linguagem_de_programacao_go">A linguagem de programação Go - Francisco Souza</a></td>
			</tr>
			<tr>
				<td>14:50 às 15:40</td>
				<td><a href="/2013/#audiolazy_dsp_em_python_expressivo_e_em_tempo_real">AudioLazy: DSP em Python expressivo e em tempo real - Danilo de Jesus da Silva Bellini</a></td>
			</tr>
			<tr>
				<td>15:40 às 16:30</td>
				<td><a href="/2013/#como_medir_e_investigar_sua_aplicacao_python">Como medir e investigar sua aplicação Python - Mauro Baraldi</a></td>
			</tr>
			<tr class="extra">
				<td>16:30 às 17:00</td>
				<td>Intervalo para lanche</td>
			</tr>
			<tr>
				<td>17:00 às 17:50</td>
				<td><a href="/2013/#ferramentas_de_desenvolvimento_com_boa_usabilidade_e_possivel">Ferramentas de Desenvolvimento com Boa Usabilidade: é possível? - André Willik Valenti</a></td>
			</tr>
			<tr>
				<td>17:50 às 18:40</td>
				<td><a href="/2013/#memory_leak_em_java_script">Memory Leak em Java Script - Gustavo Pantuza Coelho Pinto</a></td>
			</tr>
			<tr class="extra">
				<td>18:40 às 19:00</td>
				<td>Encerramento e sorteios</td>
			</tr>
		</tbody>
	</table>
</section>