<section id="agenda" class="container">
	<h2>Programação</h2>
	<table>
		<thead>
			<tr>
				<th>Horário</th>
				<th>O que rola?</th>
			</tr>
		</thead>
		<tbody>
			<tr class="extra">
				<td>9:00 às 09:50</td>
				<td>Credenciamento e Café da manhã</td>
			</tr>
			<tr class="extra">
				<td>9:50 às 10:00</td>
				<td>Boas vindas</td>
			</tr>
			<tr>
				<td>10:00 às 10:50</td>
				<td><a href="/2013/#criando_webcomponents_com_willjs">Criando WebComponents com WillJS</a></td>
			</tr>
			<tr>
				<td>10:50 às 11:40</td>
				<td><a href="/2013/#public_key_infrastructure_pki">Public Key Infrastructure (PKI) com OpenSSL: Entenda como funciona o processo de certificação digital, seus possíveis usos utilizando OpenSSL</a></td>
			</tr>
			<tr>
				<td>11:40 às 12:30</td>
				<td><a href="/2013/#ferramentas_de_desenvolvimento_com_boa_usabilidade_e_possivel">Ferramentas de Desenvolvimento com Boa Usabilidade: é possível?</a></td>
			</tr>
			<tr class="extra">
				<td>12:30 às 14:00</td>
				<td>Intervalo para Almoço</td>
			</tr>
			<tr>
				<td>14:00 às 14:50</td>
				<td><a href="/2013/#audiolazy_dsp_em_python_expressivo_e_em_tempo_real">AudioLazy: DSP em Python expressivo e em tempo real</a></td>
			</tr>
			<tr>
				<td>14:50 às 15:40</td>
				<td><a href="/2013/#bangsh__bash_script_no_velho_oeste">Bang.sh - Bash Script no Velho Oeste</a></td>
			</tr>
			<tr>
				<td>15:40 às 16:30</td>
				<td><a href="/2013/#criando_apis_com_ruby_on_rails">Criando APIs com Ruby on Rails</a></td>
			</tr>
			<tr class="extra">
				<td>16:30 às 17:00</td>
				<td>Intervalo para lanche</td>
			</tr>
			<tr>
				<td>17:00 às 17:50</td>
				<td><a href="/2013/#data_visualization__transformando_informacao_em_conhecimento">Data Visualization - Transformando Informação em Conhecimento</a></td>
			</tr>
			<tr>
				<td>17:50 às 18:40</td>
				<td><a href="/2013/#programacao_para_nintendo_8">Programação para Nintendo 8 bits</a></td>
			</tr>
			<tr class="extra">
				<td>18:40 às 19:00</td>
				<td>Encerramento e sorteios</td>
			</tr>
		</tbody>
	</table>
</section>