<header class="main">
  <div class="container">
    <a href="/" class="logo" title="Dev in Sampa - Ir para a página principal">Dev in Sampa</a>
    <ul>
      <li id="menu_principal"><a href="/" title="Ir para a página principal">principal</a></li>
      <li id="menu_palestrantes"><a href="/2012" title="Informações sobre os palestrantes e palestras de 2012">palestrantes</a></li>
      <li id="menu_museu"><a href="/museu"  title="Como foi nos anos anteriores">museu</a></li>
    </ul>
  </div>
</header>
