<header id="topo" class="clearfix">
	<h1><a href="/" class="hide-text" title="Dev in Sampa - Ir para a página principal">Dev in Sampa</a></h1>
	<nav id="menu">
		<ul>
			<li id="menu_principal"><a href="/" title="Ir para a página principal">Principal</a></li>
			<li id="menu_palestrantes"><a href="/2012" title="Informações sobre os palestrantes e palestras de 2012">Palestrantes</a></li>
			<li id="menu_museu"><a href="/museu"  title="Como foi nos anos anteriores">Museu</a></li>
		</ul>
	</nav>
</header>
<hr/>
