<header class="main">
	<div class="container">
		<a href="/" class="logo" title="DEV in SAMPA - Ir para a página principal">DEV in SAMPA</a>
		<nav>
			<ul id='menu'>
				<li id="menu_principal" class='menu_item'><a href="/" title="Ir para a página principal">principal</a></li>
				<li id="menu_museu" class='menu_item'><a href="/museu"  title="Como foi nos anos anteriores">museu</a></li>
				<li id="menu_email" class='menu_item'><a href="mailto:contato@devinsampa.com.br" title="Entre em contato por e-mail">contato</a></li>
			</ul>
		</nav>
	</div>
</header>
