.container, aside {
  margin: 0 auto;
  width: auto;
}

.museu li {
  margin: 0 0 5px -20px;
}

.aviso {
  padding: 10px 10px;
}

@media screen and (max-width: 650px) {
  .main {
    height: 82px;
    text-align: center;
  }
  
  .main .logo {
    float: none;
    margin: 0 auto;
  }

  .main ul {
    padding-top: 10px;
    float: none;
    margin: 0 auto;
  }
  
  .videoWrapper {
    width: auto;
    margin: 10px auto;
  }
  
  .data p {
    font-size: 20px;
  }
}

#divulgacao {
  height: 200px;
}

@media screen and (max-width: 550px) {
  aside section {
    clear: both;
    width: 100%;
    height: auto;
  }
  
  #divulgacao {
    height: auto;
  }
}