<section class="museu container">
	<h2 id="ano2009">2009</h2>
	<p>
		Foi o primeiro, tivemos alguns erros, o horário estrapolou o previsto, mas foi um grande sucesso.
		No final, foram sortados alguns brindes, como descontos em curso na Caelum e Aspercom, além de
		vale-compras da Saraiva. Veja como foi!
	</p>

	<ul>
		<li>
			<a href="http://twitter.com/fabiokung" title="Siga o Fabio Kung no Twitter">Fabio Kung</a> em
			<strong>Cloud Computing. E eu com isso?</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2916266/" title="Vídeo sobre Cloud Computing. E eu com isso?" class="video">vídeo</a>
			-
			<a href="http://www.slideshare.net/fabiokung/cloud-computing-e-eu-com-isso" title="Apresentação sobre Cloud Computing. E eu com isso?" class="apresentacao">apresentação</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/guilhermecaelum" title="Siga o Guilherme Silveira no Twitter">Guilherme Silveira</a> e
			<a href="http://twitter.com/adrianoalmeida7" title="Siga o Adriano Almeida no Twitter">Adriano Almeida</a> em
			<strong>Do REST ao RESTFul</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2916029/" title="Vídeo sobre Do REST ao RESTFul" class="video">vídeo</a>
			-
			<a href="http://www.slideshare.net/guilhermecaelum/caelum-2009-rest-ao-restful" title="Apresentação sobre Do REST ao RESTFul" class="apresentacao">apresentação</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/gwidion" title="Siga o João Bueno no Twitter">João S. O. Bueno</a> em
			<strong>Desenvolvimento de jogos com Python</strong>
			[<a href="http://agaelebe.blip.tv/file/2913288/" title="Vídeo sobre Desenvolvimento de jogos com Python" class="video">vídeo</a>]
		</li>
		<li>
			<a href="http://twitter.com/josevalim" title="Siga o José Valim no Twitter">José Valim</a> em
			<strong>Tópicos de machine learning: classificação de textos</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2912901/" title="Vídeo sobre Tópicos de machine learning: classificação de textos" class="video">vídeo</a>
			-
			<a href="http://www.slideshare.net/plataformatec/classificao-de-textos-dev-in-sampa-28nov2009" title="Apresentação sobre Tópicos de machine learning: classificao de textos" class="apresentacao">apresentação</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/lfcipriani" title="Siga o Luis Cipriani no Twitter">Luis Cipriani</a> em
			<strong>Web em tempo real com Ruby e XMPP</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2914797/" title="Vídeo sobre Web em tempo real com Ruby e XMPP" class="video">vídeo</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/fnando" title="Siga o Nando Vieira no Twitter">Nando Vieira</a> em
			<strong>Escrevendo testes no JavaScript</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2915152/" title="Vídeo sobre Escrevendo testes no JavaScript" class="video">vídeo</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/radamar" title="Siga o Radamés Ajna no Twitter">Radamés Ajna</a> em
			<strong>Arduino - Computação Física</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2915093/" title="Vídeo sobre Arduino - Computação Física" class="video">vídeo</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/almeidaricardo" title="Siga o Ricardo Almeida no Twitter">Ricardo Almeida</a> em
			<strong>Buscas poderosas com Solr</strong>
			[
			<a href="http://www.slideshare.net/almeidaricardo/buscas-poderosas-com-solr" title="Apresentação sobre Buscas poderosas com Solr" class="apresentacao">apresentação</a>
			-
			<a href="http://agaelebe.blip.tv/file/2915026/" title="Vídeo sobre Buscas poderosas com Solr" class="video">vídeo</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/rodrigoy" title="Siga o Rodrigo Yoshima no Twitter">Rodrigo Yoshima</a> em
			<strong>Design de Software: As técnicas esquecidas...</strong>
			[
			<a href="http://agaelebe.blip.tv/file/2916385/" title="Vídeo sobre Design de Software: As técnicas esquecidas..." class="video">vídeo</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/rferraz" title="Siga o Ronaldo Ferras no Twitter">Ronaldo Ferraz</a> em
			<strong>Criando sua própria linguagem de programação</strong>
			[
			<a href="http://www.slideshare.net/ronaldoferraz/criando-sua-prpria-linguagem-de-programao" title="Apresentação sobre Criando sua própria linguagem de programação" class="apresentacao">apresentação</a>
			-
			<a href="http://agaelebe.blip.tv/file/2913408/" title="Vídeo sobre Criando sua própria linguagem de programação" class="video">vídeo</a>
			]
		</li>
	</ul>
</section>
