<section class="museu container">
	<h2 id="ano2011">2011</h2>
	<p>
		Neste ano, voltamos ao formado original, de apenas uma trilha de palestras.
		Rolaram poucos mimimis por causa do valor, mas o pessoal esquece que tem
		coffee-breakes e almoço na faixa, camisetas e brindes. Ficou disponível para
		entretenimento de todos, um atari e foi um dos sucessos do evento. Foram
		sorteados 2 cursos do howtocode, vales-compra na saraiva, o Atari que estava
		alegrando os participantes também entrou para sorteio e um Kindle. Veja como foi!
	</p>

	<ul>
		<li>
			<a href="http://twitter.com/lucashungaro" title="Siga o Lucas Hungaro no Twitter">Lucas Húngaro</a> em
			<strong>SOLID através de BDD - um guia prático para rubistas</strong>
			[
			<a href="http://www.slideshare.net/lucashungaro/solid-atravs-de-bdd-um-guia-prtico-para-rubistas" title="Apresentação sobre SOLID através de BDD - um guia prático para rubistas" class="apresentacao">apresentação</a>
			-
			<a href="javascript:alert('Em breve');" title="Vídeo sobre SOLID através de BDD - um guia prático para rubistas" class="video">vídeo (em breve)</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/wcolen" title="Siga o Willian Colen no Twitter">William Colen</a> e
			<a href="http://twitter.com/wseidel" title="Siga o Wesley Seidel no Twitter">Wesley Seidel</a> em
			<strong>Processamento Automático da Língua Portuguesa</strong>
			[
			<a href="http://www.slideshare.net/wcolen/pln-dev-insampa"  title="Apresentação sobre Processamento Automático da Língua Portuguesa" class="apresentacao">apresentação</a>
			-
			<a href="javascript:alert('Em breve');" title="Vídeo sobre Processamento Automático da Língua Portuguesa" class="video">vídeo (em breve)</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/shiota" title="Siga o Eduardo Shiota Yasuda no Twitter">Eduardo Shiota Yasuda</a> em
			<strong>User Experience para Developers</strong>
			[
			<a href="http://www.slideshare.net/eshiota/user-experience-para-developers-dev-in-sampa-2011" title="Apresentação sobre User Experience para Developers" class="apresentacao">apresentação</a>
			-
			<a href="javascript:alert('Em breve');" title="Vídeo sobre User Experience para Developers" class="video">vídeo (em breve)</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/renatoelias" title="Siga o Renato Elias no Twitter">Renato Elias</a> em
			<strong>Tomando o controle de seus eventos</strong>
			[
			<a href="http://www.slideshare.net/renatoelias/tomando-controle" title="Apresentação sobre Tomando o controle de seus eventos" class="apresentacao">apresentação</a>
			-
			<a href="javascript:alert('Em breve');" title="Vídeo sobre Tomando o controle de seus eventos" class="video">vídeo (em breve)</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/qmx" title="Siga o Douglas Campos no Twitter">Douglas Campos</a> em
			<strong>Bytecode e VM Design for Dummies</strong>
			[
			<a href="http://cdn.qmx.me/presentations/2011/devinsampa/index.html" title="Apresentação sobre Bytecode e VM Design for Dummies" class="apresentacao">apresentação</a>
			-
			<a href="javascript:alert('Em breve');" title="Vídeo sobre Bytecode e VM Design for Dummies" class="video">vídeo (em breve)</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/klauswuestefeld" title="Siga o Klaus Wuestefeld no Twitter">Klaus Wuestefeld</a> em
			<strong>Computação Soberana</strong>
			[
			<a href="javascript:alert('Em breve');" title="Vídeo sobre Computação Soberana" class="video">vídeo (em breve)</a>
			]
		</li>
		<li>
			<a href="http://twitter.com/chesterbr" title="Siga o Chester no Twitter">Chester (Carlos Duarte do Nascimento)</a> em
			<strong>Programação para Atari 2600</strong>
			[
			<a href="http://www.slideshare.net/chesterbr/programao-para-atari-2600" title="Apresentação sobre Programação para Atari 2600" class="apresentacao">apresentação</a>
			-
			<a href="javascript:alert('Em breve');" title="Vídeo sobre Programação para Atari 2600" class="video">vídeo (em breve)</a>
			]
		</li>
	</ul>
</section>
