<section class="museu container">
	<h2 id="ano2012">2012</h2>
	<p></p>

	<ul>
		<li>
			<a href="https://twitter.com/flaviowbrasil" title="Siga o Flávio W Brasil no Twitter">Flávio W. Brasil</a> em
			<strong>Activate - Persistence as it should be</strong>
			[ <a href="http://www.youtube.com/watch?v=mPkTTfFt3tk" title="Vídeo sobre Activate - Persistence as it should be" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/tonyfabeen" title="Siga o Tony Fabeen no Twitter">Tony Fabeen</a> em
			<strong>Nginx Scripting : Criando Nginx Custom Modules utilizando a linguagem LUA</strong>
			[ <a href="http://www.slideshare.net/TonyFabeen/devinsampa-nginxscripting" class="apresentacao" title='Apresentação sobre Nginx Scripting : Criando Nginx Custom Modules utilizando a linguagem LUA'>apresentação</a> - <a href="http://www.youtube.com/watch?v=agbPRw3UhQY" title="Vídeo sobre Nginx Scripting : Criando Nginx Custom Modules utilizando a linguagem LUA" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/srajivbr" title="Siga o Rajiv Andrade no Twitter">Rajiv Andrade</a> em
			<strong>Trusted Computing</strong>
			[ <a href="http://www.youtube.com/watch?v=1nsT-DN3F8c" title="Vídeo sobre Trusted Computing" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/shiota" title="Siga o Eduardo Shiota no Twitter">Eduardo Shiota</a> em
			<strong>Responsive Web Design e a Ubiquidade da Web</strong>
			[ <a href="http://www.slideshare.net/eshiota/responsive-web-design-e-a-ubiquidade-da-web" class="apresentacao" title='Apresentação sobre Responsive Web Design e a Ubiquidade da Web'>apresentação</a> - <a href="http://www.youtube.com/watch?v=9PQgEl8dOAY" title="Vídeo sobre Responsive Web Design e a Ubiquidade da Web" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/jcranky" title='Siga o Paulo "JCranky" Siqueira no Twitter'>Paulo "JCranky" Siqueira</a> em
			<strong>Entendendo o modelo de atores: programação concorrente e distribuída de verdade</strong>
			[ <a href="http://www.slideshare.net/jcranky/entendendo-o-modelo-de-atores" class="apresentacao" title='Apresentação sobre Entendendo o modelo de atores: programação concorrente e distribuída de verdade'>apresentação</a> - <a href="http://www.youtube.com/watch?v=KCpndpswo7Q" title="Vídeo sobre Entendendo o modelo de atores: programação concorrente e distribuída de verdade" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/while42" title='Siga o David Robert no Twitter'>David Robert</a> em
			<strong>Arquitetura de um servidor DNS Hidden Master para gerenciamento de multiplas zonas</strong>
			[ <a href="https://github.com/davidrobert/apresentacao-arquitetura-servidor-dns" class="apresentacao" title='Apresentação sobre Arquitetura de um servidor DNS Hidden Master para gerenciamento de multiplas zonas'>apresentação</a> - <a href="http://www.youtube.com/watch?v=B_lyI3f4Re0" title="Vídeo sobre Arquitetura de um servidor DNS Hidden Master para gerenciamento de multiplas zonas" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/qmx" title='Siga o Douglas "qmx" Campos no Twitter'>Douglas "qmx" Campos</a> em
			<strong>building dynjs - the saga</strong>
			[ <a href="http://cdn.qmx.me/presentations/2012/devinsampa/building-dynjs-the-saga/index.html" class="apresentacao" title='Apresentação sobre building dynjs - the saga'>apresentação</a> - <a href="http://www.youtube.com/watch?v=ZjIkd1wQgfQ" title="Vídeo sobre building dynjs - the saga" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/lisias" title="Siga o Lisias Toledo no Twitter">Lisias Toledo</a> em
			<strong>CB2k - Um Carregador Rápido para TK2000 e Apple II que virou Sistema Operacional</strong>
			[ <a href="http://www.slideshare.net/lisiastoledo/slides-cb2k-devinsampa-2012" class="apresentacao" title='Apresentação sobre CB2k - Um Carregador Rápido para TK2000 e Apple II que virou Sistema Operacional'>apresentação</a> - <a href="http://www.youtube.com/watch?v=Gb6bIH46w7A" title="Vídeo sobre CB2k - Um Carregador Rápido para TK2000 e Apple II que virou Sistema Operacional" class="video">vídeo</a> ]
		</li>
	</ul>
</section>
