<section class="museu container">
	<h2 id="ano2013">2013</h2>
	<p>
		Este ano fizemos vários experimentos. Realizamos o evento na Academia Wayra, as inscrições através do <a href="http://eventick.com.br">site da Eventick</a> e Transmissão ao vivo pelo <a href="http://ustream.tv">Ustream</a>. Como não podia deixar de ser, o evento teve bastante bate-papo entre os participantes, várias palestras legais e um pouco de diversão com a presença de um Nintendo 8 bits. Também contamos com a venda de livros com desconto da Editora Novatec e Casa do Código. No final, foram sorteados livros e ebooks oferecidos pela <a href="http://www.novatec.com.br/">Editora Novatec</a> e <a href="http://www.casadocodigo.com.br/">Casa do Código</a>, cursos online do <a href="http://howtocode.com.br/">Howtocode</a> pela <a href="http://hellobits.com/?devinsampa">Hellobits</a>, além de dois Kindles Paperwhite e um Nintendo 8 bits.
	</p>

	<p>
		Os vídeos de algumas palestras estão disponíveis no <a href="http://www.infoq.com/br/devinsampa/">site da InfoQ</a>.
	</p>

	<ul>
		<li>
			<a href="http://twitter.com/danilobellini" title="Siga Danilo de Jesus da Silva Bellini no Twitter">Danilo de Jesus da Silva Bellini</a> em
			<strong>AudioLazy: DSP em Python expressivo e em tempo real</strong> [ <a class="apresentacao" href="http://www.slideshare.net/djsbellini/20130520-audiolazy-slides-devinsampa-ptbr" title="Apresentação sobre AudioLazy: DSP em Python expressivo e em tempo real">apresentação</a> - <a href="http://www.infoq.com/br/presentations/audiolazy-dsp-phyton" title="Vídeo sobre AudioLazy: DSP em Python expressivo e em tempo real" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/gustavotkg" title="Siga Gustavo Dutra no Twitter">Gustavo Dutra</a> em
			<strong>Bang.sh - Bash Script no Velho Oeste</strong> [ <a href="https://speakerdeck.com/gustavotkg/bang-dot-sh-bash-framework" class="apresentacao" title="Apresentação sobre Bang.sh - Bash Script no Velho Oeste">apresentação</a> - <a href="http://www.infoq.com/br/presentations/bang.sh-bash-script" title="Vídeo sobre Bang.sh - Bash Script no Velho Oeste" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/fnando" title="Siga Nando Vieira no Twitter">Nando Vieira</a> em
			<strong>Criando APIs com Ruby on Rails</strong> [ <a href="https://speakerdeck.com/fnando/rails-para-apis" class="apresentacao" title="Apresentação sobre Criando APIs com Ruby on Rails">apresentação</a> - <a href="http://www.infoq.com/br/presentations/criando-apis-ruby-on-rails" title="Vídeo sobre Criando APIs com Ruby on Rails" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/kawamanza" title="Siga Marcelo Manzan no Twitter">Marcelo Manzan</a> em
			<strong>Criando WebComponents com WillJS</strong> [ <a class="apresentacao" href="https://speakerdeck.com/kawamanza/criando-webcomponents-com-willjs" title="Apresentação sobre Criando WebComponents com WillJS">apresentação</a> - <a href="http://www.infoq.com/br/presentations/criand-webcomponents-willjs" title="Vídeo sobre Criando WebComponents com WillJS" class="video">vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/gilmargumier" title="Siga Gilmar Gumier no Twitter">Gilmar Gumier</a> em
			<strong>Data Visualization - Transformando Informação em Conhecimento</strong> [ <a href="http://www.slideshare.net/satis_me/data-visualization-transformando-informao-em-conhecimento" class="apresentacao" title="Apresentação sobre Data Visualization - Transformando Informação em Conhecimento">apresentação</a> - <a href="http://www.infoq.com/br/presentations/data-visualization-conhecimento" title="Vídeo sobre Data Visualization - Transformando Informação em Conhecimento" class="video">Vídeo</a> ]
		</li>
		<li>
			<a href="http://twitter.com/awvFi" title="Siga André Willik Valenti no Twitter">André Willik Valenti</a> em
			<strong>Ferramentas de Desenvolvimento com Boa Usabilidade: é possível?</strong> [ <a href="http://www.slideshare.net/AndrFi/usabilidade-de-ferramentas" class="apresentacao" title="Apresentação sobre Ferramentas de Desenvolvimento com Boa Usabilidade: é possível?">apresentação</a> ]
		</li>
		<li>
			<a href="http://twitter.com/gutomaia" title="Siga Guto Maia no Twitter">Guto Maia</a> e <a href="http://twitter.com/klaussilveira" title="Siga Klaus Silveira no Twitter">Klaus Silveira</a> em
			<strong>Programação para Nintendo 8 bits</strong>
		</li>
		<li>
			<a href="http://twitter.com/tonyfabeen" title="Siga Tony Fabben  no Twitter">Tony Fabeen</a> em
			<strong>Public Key Infrastructure (PKI) com OpenSSL: Entenda como funciona o processo de certificação digital, seus possíveis usos utilizando OpenSSL.</strong> [ <a href="http://www.infoq.com/br/presentations/pki-openssl-certificacao-digital" title="Vídeo sobre PKI com OpenSSL: entenda como funciona o processo de certificação digital e formas de uso" class="video">Vídeo</a> ]
		</li>
	</ul>
</section>
