<section class="container inscricao">
	<h2>Como se inscrever?</h2>
	<p><a href="http://www.eventick.com.br/devinsampa2013" title="Site do EVENTICK para inscrição do DEV in SAMPA 2013 ">As inscrições para o DEV in SAMPA estão abertas e são feitas através do site da EVENTICK.</a></p>

	<p>Existem três fases de inscrição, a saber:</p>

	<ul>
		<li><strong>Até dia 12/04</strong>, às 16h, o valor da inscrição será de <strong>R$ 55,00</strong></li>
		<li><strong>Até dia 17/05</strong>, às 16h, o valor da inscrição será de <strong>R$ 77,00</strong></li>
	</ul>
</section>
