<section class="local container">
	<h2>Onde vai ser?</h2>
	<iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=Av.+das+Na%C3%A7%C3%B5es+Unidas,+12.399&amp;hl=pt&amp;ie=UTF8&amp;sll=-23.564794,-46.702816&amp;sspn=0.011388,0.01929&amp;gl=BR&amp;hnear=Av.+das+Na%C3%A7%C3%B5es+Unidas,+12399+-+Itaim+Bibi,+S%C3%A3o+Paulo,+04795-100&amp;t=m&amp;hq=&amp;ll=-23.606811,-46.697008&amp;spn=0.012013,0.01929&amp;z=14&amp;output=embed"></iframe>
	<address>
		<strong>Academia Wayra Brasil</strong>
		Av. das Nações Unidas, 12.399 ­ 14º andar - Itam Bibi, São Paulo, SP, Brasil
	</address>
</section>