/*1320697065,169775558*/

.sp_bqjpk2{background-image:url(https://s-static.ak.facebook.com/rsrc.php/v1/y-/r/gRZW3Vw75Um.png);background-repeat:no-repeat;display:inline-block;height:10px;width:10px}
.sx_d760b2{width:14px;height:14px;background-position:-89px -147px}
.sx_9628ae{background-position:-89px -162px}
.sx_dc37a1{background-position:-100px -162px}
.sx_56714b{background-position:-111px -162px}
.sx_e7a39c{background-position:-122px -162px}
.sx_d6e65e{width:13px;height:8px;background-position:-114px -147px}
.sx_fe2014{width:5px;height:3px;background-position:-128px -147px}
.sx_20c556{width:88px;height:44px;background-position:-0px -147px}
.sx_c7b76e{width:9px;height:13px;background-position:-104px -147px}
.sx_bb51cc{width:500px;height:48px;background-position:-0px -0px}
.sx_2b1ccb{width:500px;height:48px;background-position:-0px -49px}
.sx_203948{width:500px;height:48px;background-position:-0px -98px}

#bootloader_xuo9t { height: 42px; }